<app-menu></app-menu>
<section class="heading">
  <span class="page-title font-weight-bold font-italic"
    >[{{ requestTitle }}]</span
  >
  <span>&nbsp;<a routerLink="/purchase-request-list">Return to List</a></span>
</section>
<table *ngIf="purchaseRequests" class="table table-sm table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Status</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ purchaseRequests.id }}</td>
      <td>{{ purchaseRequests.description }}</td>
      <td>{{ purchaseRequests.status }}</td>
      <td>{{ purchaseRequests.total }}</td>
    </tr>
  </tbody>
</table>
