<app-menu></app-menu>
<section class="heading">
  <span class="component-title">[{{ title }}]</span>
</section>
<main class="single">
  <table class="table table-sm">
    <tr>
      <td>id:</td>
      <td>
        <input [(ngModel)]="products.id" class="rounded" type="text" />
      </td>
    </tr>
    <tr>
      <td>vendor</td>
      <td>
        <input [(ngModel)]="products.vendor" class="rounded" type="text" />
      </td>
    </tr>
    <tr>
      <td>partNumber:</td>
      <td>
        <input [(ngModel)]="products.partNumber" class="rounded" type="text" />
      </td>
    </tr>
    <tr>
      <td>name :</td>
      <td>
        <input [(ngModel)]="products.name" class="rounded" type="text" />
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td>price:</td>
      <td>
        <input [(ngModel)]="products.price" class="rounded" type="text" />
      </td>
    </tr>
    <tr>
      <td>unit:</td>
      <td>
        <input [(ngModel)]="products.unit" class="rounded" type="text" />
      </td>
    </tr>
    <tr>
      <td>photoPath:</td>
      <td>
        <input [(ngModel)]="products.photoPath" class="rounded" type="text" />
      </td>
    </tr>
  </table>
</main>
<span
  ><button (click)="save()" class="btn btn-sm btn-primary">
    {{ submitBtnTitle }}
  </button></span
>
