<app-menu></app-menu>
<section class="heading">
  <span class="page-title font-weight-bold font-italic">[{{ title }}]</span>
  <a routerLink="/user-create">
    <img width="20" height="20" src="assets/add-icon.png" title="Add New" />
  </a>
</section>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>user name</th>
      <th>first name</th>
      <th>last name</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let users of user">
      <td>{{ users.id }}</td>
      <td>{{ users.userName }}</td>
      <td>{{ users.firstName }}</td>
      <td>{{ users.lastName }}</td>
      <td>{{ users.email }}</td>

      <td>
        <a routerLink="/user-detail/{{ user.id }}">
          <img
            width="20"
            height="20"
            src="assets/details.png"
            title="User Details"
          />
        </a>
        |
        <a routerLink="/user-edit/{{ user.id }}">
          <img
            width="20"
            height="20"
            src="assets/pencil-icon.png"
            title="User Edit"
          />
        </a>
      </td>
    </tr>
  </tbody>
</table>
