<app-menu></app-menu>
<section class="heading">
  <span class="page-title font-weight-bold font-italic">[{{ title }}]</span>
  <a routerLink="/user-create">
    <img width="20" height="20" src="assets/add-icon.png" title="Add New" />
  </a>
</section>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Vendor</th>
      <th>Part Number</th>
      <th>Name</th>
      <th>Price</th>
      <th>Unit</th>
      <th>PhotoPath</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let products of product">
      <td>{{ products.id }}</td>
      <td>{{ products.vendor }}</td>
      <td>{{ products.partNumber }}</td>
      <td>{{ products.name }}</td>
      <td>{{ products.price }}</td>
      <td>{{ products.unit }}</td>
      <td>{{ products.photoPath }}</td>

      <td>
        <a routerLink="/product-detail/{{ products.id }}">
          <img
            width="20"
            height="20"
            src="assets/details.png"
            title="Product Details"
          />
        </a>

        <a routerLink="/product-edit/{{ products.id }}">
          <img
            width="20"
            height="20"
            src="assets/pencil-icon.png"
            title="Product Edit"
          />
        </a>
      </td>
    </tr>
  </tbody>
</table>
